---
import Next from '../components/Next.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="py-8 px-4">
    <h1 class="mb-8">April</h1>
    <div class="pb-4 relative h-[600px]">
      <img class="w-1/2 rounded absolute left-0 rotate-[-2deg]" src="/april/boat.JPG" />
      <img class="w-1/2 rounded absolute right-0 rotate-[2deg]" src="/april/cute.JPG" />
      <img
        class="w-1/2 rounded absolute left-0 translate-y-[120px] rotate-[5deg]"
        src="/april/beach.JPG"
      />
      <img
        class="w-1/2 rounded absolute right-2 translate-y-[220px] rotate-[-1deg]"
        src="/april/forest.JPG"
      />
      <img
        class="w-1/2 rounded absolute left-2 translate-y-[320px] rotate-[-10deg]"
        src="/april/hold.JPG"
      />
      <img
        class="w-1/2 rounded absolute right-4 translate-y-[410px] rotate-[2deg]"
        src="/april/sunset.JPG"
      />
    </div>
    <p>
      One of the highlights of this year was definitely the trip to Mindoro. We bonded and connected
      in a way that I never thought possible. We were already intertwined, but this trip made us
      inseparable.
    </p>
    <div class="pb-4 pt-8">
      <img src="/april/birthday.JPG" class="rounded" />
    </div>
    <p>You also turned 20 on this month! <br /> You're sooooooo old!!!!!</p>
    <Next to="/may" title="May I have this dance?" />
  </section>
</Layout>
