---
import Next from '../components/Next.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="py-8 px-4">
    <h1 class="mb-8">December</h1>
    <div class="pb-4">
      <div class="flex flex-col">
        <img class="rounded rotate-3" src="/dec/spezia.jpg" />
        <div class="flex">
          <img class="rounded w-1/2 object-cover rotate-1" src="/dec/food.jpg" />
          <img class="rounded w-1/2 object-cover -rotate-3" src="/dec/smile.jpg" />
        </div>
      </div>
    </div>
    <p>Post-finals celebratory dinner at La Spezia!! I still owe you a massage</p>
    <div class="pt-10 pb-4 mb-40 relative">
      <div class="flex">
        <img class="rounded w-1/2 object-cover rotate-6" src="/dec/frends.jpg" />
        <img class="rounded w-1/2 object-cover -rotate-2" src="/dec/hot.jpg" />
        <img
          class="rounded w-1/2 absolute -bottom-32 left-1/2 -translate-x-1/2 object-cover -rotate-3"
          src="/dec/dog.jpg"
        />
      </div>
    </div>
    <p>Christmas dinner with PACE friends + hangout with dayne's college friends. Doggos!!!</p>
    <div class="pb-4 pt-8">
      <div class="flex">
        <img class="rounded w-1/2 rotate-3" src="/dec/d.jpg" />
        <img class="rounded w-1/2 right-0 -rotate-2" src="/dec/g.jpg" />
      </div>
    </div>
    <p>Dayne helped me with my outfits!</p>
    <Next to="/final" title={'End'} />
  </section>
</Layout>
