---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="py-8 px-4">
    <h1 class="mb-8">December</h1>
    <div class="pb-4">
      <div class="flex flex-col">
        <img class="rounded rotate-3" src="/dec/spezia.jpg" />
        <div class="flex">
          <img class="rounded w-1/2 object-cover rotate-1" src="/dec/food.jpg" />
          <img class="rounded w-1/2 object-cover -rotate-3" src="/dec/smile.jpg" />
        </div>
      </div>
    </div>
  </section>
</Layout>
