---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="w-full h-full bg-white">
    <div class="grid place-items-center h-full relative">
      <p class="text-center">
        This past year with you has been <br /> the best year of my life. <br /> Thank you dayne. <br
        />I love you. <br /> - gabe
      </p>
    </div>
  </div>
</Layout>
