---
import Next from '../components/Next.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="py-8 px-4">
    <h1 class="mb-8">July</h1>
    <div class="pb-4 relative">
      <div class="flex justify-center">
        <img class="w-1/2 rounded left-0 rotate-[4deg]" src="/july/frends.JPG" />
      </div>
      <div class="flex">
        <img class="w-1/2 rounded right-0 rotate-[3deg]" src="/july/melons.JPG" />
        <img class="w-1/2 rounded left-0 rotate-[-2deg]" src="/july/bik.JPG" />
      </div>
    </div>
    <p>
      Went out with Anton and Yana to blackbough and Rockwell! Don't show this to your parents 🫣
    </p>
    <div class="pt-8 pb-4 grid grid-cols-2">
      <img class="h-full w-full object-cover rounded" src="/july/oop.JPG" />
      <img class="h-full w-full object-cover rounded" src="/july/back.JPG" />
      <img class="h-full w-full object-cover rounded" src="/july/kiss.JPG" />
      <img class="h-full w-full object-cover rounded" src="/july/hug.JPG" />
    </div>
    <p>Elyu!!! Loved the time we got to spend with our friends! Got some cuddles too hehe</p>
    <div class="pt-8 pb-4">
      <img class="rounded" src="/july/tipsy.JPG" />
    </div>
    <p>Tipsy pig with friends after we had a heated discussion. Chismis time also 🤭</p>
    <div class="pt-8 pb-4 relative">
      <img class="mx-auto w-1/2 rounded rotate-3" src="/july/flower.JPG" />
      <div class="flex items-center">
        <img class="w-1/2 rounded -rotate-2" src="/july/food.JPG" />
        <img class="w-1/2 rounded rotate-1" src="/july/selfie.JPG" />
      </div>
    </div>
    <p>Monthsary at your house! Yummy food 😋</p>
    <div class="pt-8 pb-4 relative">
      <img class="rounded rotate-6" src="/july/barbie.JPG" />
      <img class="rounded -rotate-2 -translate-y-3" src="/july/amano.JPG" />
    </div>
    <p>Barbie + Amano date! Love our fits</p>
    <Next to="/aug" title="Augusto kita" />
  </section>
</Layout>
