---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="py-8 px-4">
    <h1 class="mb-8">March</h1>
    <div class="pb-4 h-[580px] relative" id="pance-imgs">
      <img
        class="w-1/2 rounded absolute right-0 translate-y-80 rotate-[-2deg]"
        src="/march/cute.JPG"
      />
      <img
        class="w-1/2 rounded absolute right-0 rotate-[3deg] h-[320px] object-cover"
        src="/march/dueces.JPG"
      />
      <img class="w-1/2 rounded absolute -rotate-6" src="/march/food.JPG" />
      <img class="w-1/2 rounded absolute rotate-2 translate-y-80" src="/march/hands.JPG" />
      <img
        class="w-1/2 rounded absolute left-[80px] translate-y-40 rotate-[4deg]"
        src="/march/kiss.JPG"
      />
    </div>
    <p>
      We went to Makati for our monthsary in March. We ate at Panco then Deuces. After than we
      walked around and explored some shops.
    </p>
    <div class="pt-8 pb-4 relative rounded">
      <img src="/march/heart.JPG" />
    </div>
    <p>A random date we had!</p>

    <div class="pt-8 pb-4 relative rounded">
      <img src="/march/dp.JPG" />
    </div>
    <p>The origin of your iconic IG DP.</p>
  </section>
</Layout>
