---
import Next from '../components/Next.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="py-8 px-4">
    <h1 class="mb-8">October</h1>
    <div class="pb-4">
      <div class="flex">
        <img class="rounded rotate-3 w-1/2 object-cover" src="/oct/hi.JPG" />
        <img class="rounded -rotate-1 w-1/2 object-cover" src="/oct/crane.jpg" />
      </div>
    </div>
    <p>My dayne got sick :((</p>
    <div class="pt-8 pb-4">
      <img class="rounded" src="/oct/mask.jpg" />
    </div>
    <p>So proud of the mask!!! Prof liked it a lot</p>
    <div class="pt-8 pb-4">
      <div class="flex">
        <img class="rounded rotate-1 w-1/2 object-cover" src="/oct/quote.jpg" />
        <img class="rounded -rotate-3 w-1/2 object-cover" src="/oct/d.jpg" />
      </div>
    </div>
    <p>Monthsary in Humble Beginnings! We should go back</p>
    <div class="pt-8 pb-4">
      <div class="grid grid-cols-3">
        <img class="rounded rotate-1 w-full object-cover" src="/oct/me.jpg" />
        <img class="rounded -rotate-3 w-full object-cover" src="/oct/nikkei.jpg" />
        <img class="rounded -rotate-2 w-full object-cover" src="/oct/matcha.jpg" />
      </div>
    </div>
    <p>Nikkei + Tsujiri date 😋</p>
    <div class="pt-8 pb-4">
      <div>
        <img class="rounded w-full object-cover" src="/oct/cute.JPG" />
        <img class="rounded w-full object-cover" src="/oct/pool.jpg" />
      </div>
    </div>

    <p>Yana's Birthday!! Got to sleep together 🤫</p>

    <div class="pt-8 pb-4">
      <img class="rounded w-full object-cover" src="/oct/yli.jpg" />
    </div>
    <p>Yli brought his special friend</p>
    <Next to="/nov" title="November forever" />
  </section>
</Layout>
