---
export type Props = {
  to: string;
  title: string;
};

const { to, title } = Astro.props;
---

<a href={to} class="mx-auto block text-center bg-black text-white px-4 py-2 rounded-full mt-6">
  {title}
</a>
